
{% include "store/base.html" %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: gray; 
    }
</style>


<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fa fa-times fa-3x text-danger" aria-hidden="true"></i>
        <br>
        
        </h2>
            <strong>
                ur account is not verified na
            </strong>
        </h2>
        <hr>
            <p>pls contact admin</p>

        </div>
        

    </div>
</body>

{% endblock %}


