
{% include "store/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block pagestyle %}
    <style>
        body {
            background-color: gray; 
        }
    </style>
{% endblock %}

{% block content %}
<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        
            <h3>Create your account </h3>
            <h5>purchase your favorite items today</h5>
            <br>
            <br>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{form.username|as_crispy_field}}
                <br>
                {{form.email|as_crispy_field}}
                <br>
                {{form.password1|as_crispy_field}}
                <br>
                {{form.password2|as_crispy_field}}
    
                <br> <br>
    
                <button type="submit" class="btn btn-custom mt-3"> 
                    &nbsp; Create account
                </button>
                <br>
                {% comment %} <button type="button">
                    <a href="{% url 'login' %}">Already have an account? Login here
                </button> {% endcomment %}
            </form>
 
        
    </div>
</body>

<br> <br>



{% endblock %}

